In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_excel('customer_data.xlsx') # read the data

In [3]:
sorted_data = data.sort_values(by = 'Income', ascending = False) # sort the data by income in descending order
sorted_data

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
55,C056,Female,29,107662.0,NaN,Northeast,3,47.877,1,In-store,2022-02-11,No
22,C023,Female,41,105186.0,Los Angeles,Midwest,14,137.697,4,Online,2023-07-15,Yes
70,C071,Female,36,103264.0,Los Angeles,Northeast,11,117.394,3,Online,2023-12-22,Yes
32,C033,Female,31,98590.0,Houston,West,7,76.114,2,Online,2023-06-30,No
76,C077,Female,38,94266.0,Los Angeles,Midwest,5,63.082,XXXX,Online,2023-01-02,No
...,...,...,...,...,...,...,...,...,...,...,...,...
58,C059,Female,46,NaN,Los Angeles,Midwest,8,86.207,2,Online,2022-04-14,No
63,C064,Male,30,NaN,Houston,West,10,107.919,3,In-store,2023-11-16,Yes
66,C067,Male,54,NaN,Houston,West,12,128.255,3,Online,2022-03-24,Yes
69,C070,Male,36,NaN,Chicago,Northeast,8,85.832,2,Online,2023-07-28,No
74,C075,Female,42,NaN,Los Angeles,Northeast,4,57.984,1,Online,2023-05-13,No