In [2]:
#sort.sort_values(by = columns title, ascending = organization order pick true or false.)
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('customer_data.xlsx')
data.head()

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes
1,C002,Female,38,40881.0,New York,West,15,157.640,4,In-store,2023-07-08,Yes
2,C003,Male,17,63333.0,New York,Northeast,1,41.252,1,Online,2023-01-30,No
3,C004,Male,34,58030.0,Chicago,Midwest,6,67.329,1,In-store,2023-06-01,No
4,C005,Male,30,78889.0,Houston,Midwest,3,52.763,1,Online,2022-09-23,No

In [ ]:
#first important task of data cleaning is getting rid of the null and empty values
missing_values = data.isnull().sum() #adding up all the missing values per section.
print("missing values:") # just a title
missing_values

missing values:

CustomerID                  0
Gender                      0
Age                         0
Income                      5
City                        3
Region                      0
Frequency_of_Purchases      0
Average_Purchase_Amount     0
Customer_Lifespan_Months    0
Purchase_Channel            0
Date_of_Purchase            0
Churn_Status                0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy = 'median') #picking the imputer strategy (This will impute missing values with the median Salary of the data set.)
imputer.fit(data[['Income']])   #fitting the imputer to the data
data[['Income']] = imputer.transform(data[['Income']])  #transforming the data

In [ ]:
imputer_2 = SimpleImputer(strategy = 'most_frequent') #picking the imputer strategy (This will impute missing values with the most frequent city of the data set.)
imputer_2.fit(data[['City']])
data[['City']] = imputer_2.transform(data[['City']])

In [8]:
missing_values = data.isnull().sum() #adding up all the missing values per section again. 
print("missing values:") # just a title
missing_values #to ensure the missing values are gone/ have been imputed.

missing values:

CustomerID                  0
Gender                      0
Age                         0
Income                      0
City                        0
Region                      0
Frequency_of_Purchases      0
Average_Purchase_Amount     0
Customer_Lifespan_Months    0
Purchase_Channel            0
Date_of_Purchase            0
Churn_Status                0
dtype: int64