In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [4]:
data = pd.read_excel('customer_data.xlsx') # read the data

In [5]:
unique_values = data['Customer_Lifespan_Months'].unique()   # get the unique values of the column. These are values of different data types.
unique_values

array([3, 4, 1, 2, 5, 'XXXX'], dtype=object)

In [6]:
data = data[data['Customer_Lifespan_Months'] != 'XXXX'] # remove the rows with 'XXXX' value

In [7]:
data['Customer_Lifespan_Months'].unique() # check the unique values again

array([3, 4, 1, 2, 5], dtype=object)

In [8]:
data['Customer_Lifespan_Months'] = data['Customer_Lifespan_Months'].astype(int) # convert the column to integer

In [10]:
data['Date_of_Purchase'] = data['Date_of_Purchase'].astype('datetime64[ns]') # convert the column to datetime

In [11]:
data.dtypes # check the data types of the columns

CustomerID                          object
Gender                              object
Age                                  int64
Income                             float64
City                                object
Region                              object
Frequency_of_Purchases               int64
Average_Purchase_Amount            float64
Customer_Lifespan_Months             int64
Purchase_Channel                    object
Date_of_Purchase            datetime64[ns]
Churn_Status                        object
dtype: object

In [12]:
data.head()

  CustomerID  Gender  Age  ...  Purchase_Channel Date_of_Purchase Churn_Status
0       C001    Male   49  ...            Online       2022-03-05          Yes
1       C002  Female   38  ...          In-store       2023-07-08          Yes
2       C003    Male   17  ...            Online       2023-01-30           No
3       C004    Male   34  ...          In-store       2023-06-01           No
4       C005    Male   30  ...            Online       2022-09-23           No

[5 rows x 12 columns]