In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_excel('customer_data.xlsx') # read the data

In [3]:
duplicates = data.duplicated()
data[duplicates] # check for duplicates

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
80,C021,Female,22,41743.0,Los Angeles,Northeast,4,54.599,1,Online,2023-06-08,No

In [5]:
data.drop_duplicates(inplace = True)
data[duplicates] # check for duplicates

C:\Users\12406\AppData\Local\Temp\ipykernel_28832\1852655133.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[duplicates] # check for duplicates

Empty DataFrame
Columns: [CustomerID, Gender, Age, Income, City, Region, Frequency_of_Purchases, Average_Purchase_Amount, Customer_Lifespan_Months, Purchase_Channel, Date_of_Purchase, Churn_Status]
Index: []